#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #root {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

#vistaActual {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
