#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #root {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
}

#vistaActual {
  flex: 1;
}
